<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/casos-de-exito"></ion-back-button>
    </ion-buttons>
    <ion-title>Casos de Éxito</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card *ngIf="caso">
    <ion-card-header>
      <ion-card-title>{{ caso.titulo }}</ion-card-title>
    </ion-card-header>

    <swiper-container slides-per-view="1" space-between="10" autoplay-delay="2500" loop="true" navigation="true"
      pagination="true" style="width: 100%; max-width: 400px; height: auto;">
      <swiper-slide *ngFor="let img of imageList">
        <img [src]="img" style="width: 100%; border-radius: 10px;" />
      </swiper-slide>
    </swiper-container>

    <ion-card-content>
      {{ caso.descripcion }}
    </ion-card-content>
  </ion-card>
</ion-content>