<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Home
      <!--<ion-icon name="reload-outline" (click)="goRefreshPage()"></ion-icon>-->
    </ion-title>
  </ion-toolbar>
</ion-header>

<!-- <ion-content fullscreen>
  <div class="slide" *ngFor="let slide of slides; let i = index">
    <div *ngIf="i === currentSlide">
      <h1>{{ slide.title }}</h1>
      <p>{{ slide.content }}</p>
    </div>
  </div>

  <div class="nav-buttons">
    <ion-button (click)="prevSlide()" [disabled]="currentSlide === 0">Prev</ion-button>
    <ion-button (click)="nextSlide()" [disabled]="currentSlide === slides.length - 1">Next</ion-button>
  </div>
</ion-content> -->

<ion-content class="ion-padding welcome-page" fullscreen>

  <div class="logo-container">
    <img src="assets/logo_icyp.png" alt="Logo" />
  </div>

  <div class="title">
    ASESORÍA EN COMUNICACIONES, EVENTOS,<br>
    MANEJO DE MEDIOS Y DIVULGACIÓN EN PRENSA.<br>
    MÁS DE 30 AÑOS COMO PR.
  </div>

  <div class="contact">
    <p><strong>Patricia Rodríguez Sánchez</strong></p>
    <p>Mov. 315 3079897</p>
    <p><a href="mailto:patriciaprensayproduccion@gmail.com">patriciaprensayproduccion&#64;gmail.com</a></p>
  </div>

</ion-content>